.page-header {
  background-color: antiquewhite;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  background-color: red;
}
.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav-list {
  display: flex;
  list-style: none;
  background-color: bisque;
  color: blue;
}
.nav-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  font-size: 24px;
  letter-spacing: 0.06em;
  line-height: 1.5;
}
