<section class="about">
  <div class="container">
    <h2 class="title">About us</h2>
    <ul class="about-list">
      <li class="about-item">
        <article class="about-article">
          <h3 class="subtitle">HTML</h3>
          <p class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
            dolore quae corporis voluptatem minus porro temporibus aliquam
            dolorem, voluptatibus non consequuntur tenetur eum eligendi voluptas
            minima tempora unde nisi suscipit!
          </p>
        </article>
      </li>
      <li class="about-item">
        <article class="about-article">
          <h3 class="subtitle">JS</h3>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
            doloribus, rerum totam consequuntur repudiandae, provident natus
            dicta repellendus accusamus sit odit laborum ducimus sunt nobis ex
            voluptate sequi animi a saepe odio voluptatem officia repellat? Amet
            enim sit suscipit, a dignissimos, quisquam sed libero molestias
            praesentium quaerat ipsa placeat minus?
          </p>
        </article>
      </li>
      <li class="about-item">
        <article class="about-article">
          <h3 class="subtitle">NODE</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio,
            culpa nisi. Ipsam quibusdam ducimus earum dolorem quisquam, deleniti
            sed qui illo sunt repellendus dolor, laborum incidunt ratione
            blanditiis eum perferendis facere dignissimos sapiente autem.
            Voluptas pariatur atque, vel laboriosam, laudantium beatae molestias
            praesentium modi provident molestiae totam explicabo ab
            perspiciatis?
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
