<section class="advantages">
    <div class="container"></div>
<h2 class="advantages-title">ADVANTEGES</h2>
<ul class="advantages-list">
    <li class="advantages-item">
        <h3>Price</h3>
        <p class="advantages-text">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.
        </p>
    </li>
    <li class="advantages-item">
        <h3>Guarantee</h3>
        <p class="advantages-text">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
    </li>
    <li class="advantages-item">
        <h3>Certificate</h3>
        <p class="advantages-text">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
    </li>
    <li class="advantages-item">
        <h3>Guality</h3>
        <p class="advantages-text">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
    </li>
</ul></section>